* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: "Lucida Grande";
}
  
a {
    text-decoration: none;
    class="flex-auto"
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-collumn {
    display: flex;
    flex-direction: collumn;
}

.flex-auto {
    flex: auto;
}

.wrapper {
    padding: 0;
    margin: 0 2.5%;
    width: 100%;
    max-width: 1170px;

    /* memperbaiki overflow pada float */
    overflow: hidden;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgb(34,49,52);

    /* Membuat posisi header 'fixed' */
    position:fixed;
    top:0;
    z-index:10;
}

.logo {
    width: 130px;
    margin-top: 14px;
}

.header-right a {
    line-height: 65px;
    padding:0 30px;
    color:white;
    display:block;

    transition: all 0.3s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.banner {
    color: white;
    background-image: url(src/img/top_en.png);
    background-size: cover;
    padding: 89px 0 144px 0;
    text-align: left;
    margin: 65px 0;
}

.banner h1 {
    opacity: 0.8;
    font-size: 47px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.banner p {
    opacity: 0.8;
    margin-bottom: 3px;
}

.button {
    margin: 30px 0;
    text-align: left;
}

.button p {
    margin: 10px 0;
}

.btn-news {
    background-color:#239b76;
    margin-right: 10px;
  }

.btn-team {
    background-color: #3b5998;
    margin-right: 10px;
}

.btn-division {
    background-color: #55acee;
    margin-right: 10px;
}

.btn {
    padding: 12px 24px;
    color:white;
    display :inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.fas {
    margin-right: 8px;
}

/* ==================================== */
.heading {
    padding-top:30px;
    padding-bottom:30px;
    color:#5f5d60;
    font-size: 21px;
}

.card {
    float:left;
    width:22.5%;
    
    padding-top: 30px;
    margin: 15px 10px;
    border: 2px solid rgba(0, 0, 0, 0);

    transition: all 0.5s;
}

.card:hover {
    cursor:pointer;

    position:relative;
    bottom:3px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
    box-shadow:0px 3px 25px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color:#5f5d60;
    margin: 25px 0 0 0;
}

.txt-contents {
    width:80%;
    display:inline-block;
    margin-top:20px;
    font-size:15px;
    color:#b3aeb5;

    justify-content: center;
}

/*** TEAMS ***/
#team-section {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.team-icon {
    height: 100px;
    align-items: center;
}

.team-icon img {
    max-height: 100px;
    max-width: 200px;
}

.teams .card {
    height: 350px;
}

/*** DIVISIONS ***/
#div-section {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

    background-color:#f7f7f7;
}

.division-icon {
    height: 100px;
    align-items: center;
}

.division-icon i {
    font-size: 50px;
    width:100%;
    color:rgb(50, 50, 50);
}

.divisions .card {
    height: 400px;
}

/*** CONTACT ***/
#contact-section {
    padding-bottom:80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    border-bottom:1px solid #eee;
}

#contact-section h2 {
    margin: 0;
}

.txt-contact {
    width:100%;
    display:inline-block;
    margin-top:20px;
    font-size:15px;
    color:#b3aeb5;
}

.message {
    padding: 15px 40px;
    margin-top: 10px;

    background-color: #4fce81;
    cursor:pointer;
}

.message:hover {
    background-color: #40c073;
  }

/* footer */
footer img {
    width:90px;
}

footer p {
    color:#b3aeb5;
    font-size:11px;
    margin-top: 0;
}

footer {
    padding-top:25px;
}

