body {
    margin: 0;
    font-family: "Lucida Grande";
}
  
a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgb(34,49,52);

    /* Membuat posisi header 'fixed' */
    position:fixed;
    top:0;
    z-index:10;
}

.logo {
    width: 104px;
    margin-top: 15px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.075);

    /* Menambah efek transisi saat hover*/
    transition: all 0.3s;
}

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header-right a {
    line-height: 65px;
    padding-left:25px;
    padding-right:25px;
    color:white;
    display:block;
}

.banner {
    color: white;
    background-image: url(src/img/top_en.png);
    background-size: cover;
    padding: 89px 0 144px 0;
    text-align: left;
    margin-top: 65px;
}

.banner h1 {
    opacity: 0.8;
    font-size: 47px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.banner p {
    opacity: 0.8;
    margin-bottom: 3px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1170px;
}

.button {
    margin: 34px auto 21px auto;
}

.button p {
    margin: 10px auto;
}

.btn {
    padding: 12px 24px;
    color:white;
    display :inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.btn-team {
    background-color:#239b76;
    margin-right: 10px;
  }

.btn-division {
    background-color:#239b76;
  }

.btn .fas {
    margin-right: 8px;
}

.section {
    padding-bottom: 80px;
    background-color:#f7f7f7;
}

.heading {
    padding-top:60px;
    padding-bottom:30px;
    color:#5f5d60;
    text-align: center;
    font-size: 21px;
}

.division, .team {
    text-align: center;
    float:left;
    width:25%;
}

.division-icon {
    position:relative;
}

.division-icon i {
    font-size: 45px;
    position:absolute;
    top:54px;
    left: 0px;
    width:100%;
    color:white;
}

.division-icon img, .team-icon img {
    width: 150px;
}

.division h3, .team h3 {
    color:#5f5d60;
}

.txt-contents {
    width:80%;
    display:inline-block;
    margin-top:20px;
    font-size:15px;
    color:#b3aeb5;
}

.txt-about {
    width:100%;
    display:inline-block;
    margin-top:20px;
    font-size:15px;
    color:#b3aeb5;
}

/* about us */
.message-wrapper {
    border-bottom:1px solid #eee;
    padding-bottom:80px;
    text-align:center;
}
  
.message {
    padding: 15px 40px;
    background-color: #5dca88;
    /* efek 3D untuk tombol */
    cursor:pointer;
    box-shadow:0px 7px #1a7940;
}
/* efek 3D untuk tombol */
.message:active {
    box-shadow:none;
    position:relative;
    top:7px;
  }

/* footer */
footer img {
    width:90px;
}

footer p {
    color:#b3aeb5;
    font-size:12px;
}

footer {
    padding-top:30px;
}

/* memperbaiki overflow pada float */
.container {
    overflow: hidden;
}